@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Pacifico&family=Righteous&family=Ubuntu:ital@1&display=swap");
:root {
    --mainBlue: #aa3939;
    --lightBlue: #408080;
    --mainWhite: #f3f3f3;
    --mainDark: #232528;
    --mainDark: #000;
    --mainYellow: #d56b6b;
}

#dropdownMenuButton {
    width: 700px;
}

.countup {
    color: var(--mainWhite);
}

.loading {
    margin-top: 25%;
}

.text-title {
    font-family: "Permanent Marker", cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.star {
    color: var(--mainBlue);
}

.text-blue {
    color: var(--mainBlue);
}

.text-bright {
    color: var(--lightBlue);
}

.navbar {
    justify-content: flex-start !important;
}

.btn-black {
    background: transparent;
    text-transform: capitalize;
    font-size: 0.8rem !important;
    color: var(--mainBlack);
    border-radius: 0 !important;
    border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
    background: var(--mainDark) !important;
    color: var(--mainWhite) !important;
}

.cart-icon {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--mainYellow);
}

body {
    margin: 0%;
    padding: 0%;
    font-family: Lato;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
}

.navbar-brand {
    font-family: Pacifico;
    font-size: 35px;
    color: var(--mainBlue) !important;
}

.nav-link {
    font-size: 16px;
    color: var(--lightBlue) !important;
    margin: 15px;
    font-family: Roboto Condensed;
}

.nav-link:hover {
    color: ightcoral !important;
}

.active .nav-link {
    color: var(--lightBlue) !important;
}

.menu-right-btn {
    padding: 13px 46px;
    margin-right: 4%;
    background-color: transparent;
    transition: all 300ms ease-in;
}

.menu-right-btn:hover {
    color: var(--lightBlue);
    background-color: var(--mainBlue);
}

.site-content {
    background-image: url(./../img/pexels-photo-68761.png);
    background-attachment: fixed;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--lightBlue);
}

.site-title {
    font-family: "Righteous";
    color: white;
    margin-top: 30%;
    margin-bottom: 6%;
    font-size: 50px;
}

.site-desc {
    color: var(--lightBlue);
    font-family: "Ubuntu";
    font-size: 30px;
    padding-left: 15%;
}

.site-btn1 {
    margin-left: 20%;
    background-color: var(--lightBlue);
    color: white;
}

.site-btn2 {
    background-color: white;
}

.site-btn1,
.site-btn2 {
    margin-top: 5%;
    margin-bottom: 40%;
}

.section-1 .heading-1 {
    margin-top: 8%;
}

.section-2 .heading-2 {
    margin-bottom: 5%;
    font-size: 39px;
}

.section-1 .p1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.section-1 .card-text,
.p1 {
    color: rgba(0, 0, 0, 0.5);
}

.section-1 {
    margin-bottom: 8%;
}

.card {
    width: 20rem;
}

.section-2 .container-fluid {
    background-image: url(./../img/ttt.png);
    background-size: cover;
    background-attachment: fixed;
}

.section-2 .heading-1 {
    margin-top: 15%;
    margin-bottom: 4%;
    font-family: "Righteous";
    width: 80%;
    color: whitesmoke;
    margin-right: 700px;
}

.section-2 .pare {
    width: 80%;
    margin-bottom: 7%;
    color: whitesmoke;
    font-family: Ubuntu;
}

.section-2 .btn {
    margin-bottom: 15%;
    width: 10%;
    padding: 2% 2%;
    border-radius: 50%;
}

.section-3 {
    margin-top: 20px;
}

.section-3 i {
    color: var(--lightBlue);
}

.section-3 p {
    color: rgba(0, 0, 0, 0.59);
}

.section-4 {
    margin-top: 8%;
}

.section-4 a {
    color: var(--lightBlue);
    font-size: 40px;
    text-decoration: none;
}

.section-4 .row .col-md-7,
.col-md-5 {
    margin-top: 10%;
    margin-bottom: 10%;
}

.section-4 .para-1 {
    color: white;
    font-family: "Roboto Condensed";
    margin-top: 7%;
}

.social i {
    color: #003333;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .section-1 .card {
        width: 14rem;
    }
    .section-4 .col-md-7 img {
        width: 350px;
    }
}

@media screen and (max-width: 320px) {
    .site-content .site-title {
        font-size: 30px;
        padding: 15%;
    }
    .site-content .site-btn2 {
        display: none;
    }
    .site-content .site-btn1 {
        margin-left: 15%;
    }
    .section-1 .heading-1,
    .section-1 .heading-2 {
        font-size: 25%;
    }
    .section-1 .col-md-4 {
        padding: 5%;
        margin-left: 8%;
    }
    .section-1 .card {
        width: 15rem;
    }
    .section-4 .col-md-5 {
        padding: 0% 15%;
    }
    footer input[type="button"] {
        margin-top: 5%;
    }
}